<ul class="nav nav-tabs">
  <li role="presentation"><a href="#/pessoaFisica/">Pessoa Fisica</a></li>
  <li role="presentation"><a href="#/pessoaJuridica/">Pessoa Juridica</a></li>
  <li role="presentation" class="active"><a href="#/conta/">Conta</a></li>
  <li role="presentation"><a href="#/transacao/">Transação</a></li>
</ul>
<div class="row">
	<h2 class="text-center panel-title">Editar Conta</h2>
</div>
<div class="row">
<form class="form-horizontal" ng-submit="atualizar(item)">
	<div class="form-group">
		<input type="text" ng-model="item.nome" class="form-control">
    	<select ng-model="item.pessoa" ng-options="p.cnpj || p.cpf for p in pessoas" disabled class="form-control"></select>
		<select ng-model="item.contaPai" ng-options="c.id as c.nome for c in contasPai" class="form-control"></select>
		<input type="hidden" ng-model="item.status" value="ATIVO"/>
		<input type="hidden" ng-model="item.id">
	</div>
	<div class="form-group">
		<button class="btn btn-success">Atualizar</button>
		<a href="#/conta/" class="btn btn-warning">Cancelar</a>
	</div>							
</form>
</div>